html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}

.crypto-img {
    height: 32px;
    aspect-ratio: auto 32 / 32;
    width: 32px;
}

.symbol{
    font-size: 14px;
    color: darkgray;
}
.crypto-container {
}

.price-green{
    color: green;
}

.price-red{
    color: red !important;
}